h1 {
   color: hsl(220, 50%, 60%);
   border-style: solid;
   border-width: 5px;
   border-color: rgba(200, 200, 200, 0.8);
}

body {
   animation: just-margin 1.5s infinite;
}

@keyframes just-margin {
   0% {
      margin: 2.25px;
   }
   30% {
      margin: 4px;
   }
   50% {
      margin: 5.45px;
   }
   75% {
      margin: 5.95px;
   }
   100% {
      margin: 6.5px;
   }
}
